/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video { display: block; }
mark, rp, rt, ruby, summary, time { display: inline; }
/* Global properties ======================================================== */
html { width: 100%; }
body { font-family: Arial, Helvetica, sans-serif; font-size: 100%; color: #888787; min-width: 960px; background: #ececee; }
.main-bg { width: 100%; background: url(../images/main-bg.jpg) center 0 no-repeat; }
.top-line { background: url(../images/top-line.gif) left bottom repeat-x #343434; visibility:hidden; height:0px !important; }
.main { width: 960px; padding: 0; margin: 0 auto; font-size: 0.75em; line-height: 1.5em; }
a { color: #1799cf; outline: none; text-decoration:none; }
a:hover { text-decoration: underline; }
.col-1, .col-2 { float: left; }
.wrapper { width: 100%; overflow: hidden; }
.extra-wrap { overflow: hidden; }
p { margin-bottom: 18px; }
.p1 { margin-bottom: 8px; }
.p2 { margin-bottom: 16px; }
.p3 { margin-bottom: 30px; }
.p4 { margin-bottom: 19px; }
.p5 { margin-bottom: 15px; }
.reg { text-transform: uppercase; }
.fleft { float: left; }
.fright { float: right; }
.alignright { text-align: right; }
.aligncenter { text-align: center; }
.title { margin-bottom: 18px; }
.it { font-style: italic; }
.letter { letter-spacing: -1px; }
.color-1 { color: #fff; }
.color-2 { color: #000; }
.color-3 { color: #f22f2f; }
.color-4 { color: #363636; }
.color-5 { color: #323232; }
.color-6 { color: #353535; }
.color-7 { color: #e82b2b; }
.block { display: block; }
.decor { text-decoration: none; }
.decor:hover { text-decoration: underline; }
.text-1 { font-size: 11px; line-height: 16px; }
.text-2 { font-size: 14px; line-height: 1.285em; }
/*********************************boxes**********************************/
.margin-bot { margin-bottom: 35px; }
.margin-bot1 { margin-bottom: 31px; }
.spacing { margin-right: 35px; }
.indent { padding: 0 0 0px 30px; }
.indent2 { padding-left: 50px; }
.indent-bot { margin-bottom: 20px; }
.indent-bot2 { margin-bottom: 30px; }
.indent-bot3 { margin-bottom: 45px; }
.img-indent-bot { margin-bottom: 25px; }
.img-indent-bot1 { margin-bottom: 27px; }
.img-indent { float: left; margin: 0 20px 0px 0; }
.img-indent2 { float: left; margin: 0 13px 0px 0; }
.img-indent-r { float: right; margin: 0 0px 0px 40px; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.prev-indent-bot { margin-bottom: 10px; }
.buttons a:hover { cursor: pointer; }
.menu li a, .list-1 li a, .list-2 li a, .link, .button, .logo { text-decoration: none; }
/*********************************header*************************************/
.top-menu li { float: left; background: url(../images/marker-1.png) left 14px no-repeat; padding: 8px 16px 7px 11px; }
.top-menu li.third { padding-right: 19px; }
.top-menu li.four { padding-right: 19px; }
.top-menu li.five { padding-right: 19px; }
.top-menu li a { display: inline-block; color: #a1a2a2; text-decoration: none; font-size: 11px; line-height: 16px; font-weight: bold; text-transform: uppercase; }
.top-menu li a:hover { color: #fcfdfd; }
header { width: 100%; position: relative; z-index: 2; }
#page1 header { margin-bottom: 18px; }
h1 { padding: 31px 0 0 6px; position: relative; float: left; }
h1 a { display: block; width: 342px; height: 62px; text-indent: -5000px; background: url(../images/logo.png) 0 0 no-repeat; text-decoration: none; }
.right-box { float: right; padding: 20px 10px 0 0; width: 600px; }
.header-search { float: right; width: 232px; }
.header-search-ind { margin-bottom: 9px; }
.header-search input { background: none; color: #9a9a9a; margin: 0; font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 17px; height: 18px; border: none; padding: 5px 8px 5px 12px; width: 175px; outline: none; }
.search-button { display: inline-block; width: 31px; height: 29px; background: url(../images/search-button.png) left top no-repeat; float: right; }
.search-button:hover { background-position: left bottom; }
.header-search span { height: 29px; display: inline-block; margin-right: 6px; float: right; background: url(../images/header-search.jpg) no-repeat; }


.header-but { font-size: 13px; font-weight:bold; color: #fff; text-decoration: none; line-height:14px; height:41px; width:110px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background:url(../images/button_approvedgr.png) no-repeat left top; padding-left:5px; text-wrap:suppress; display:inline-block; text-align:center; padding-top:5px; }
.header-but span { display: inline-block; background: url(../images/white_tick_mark.png) no-repeat left top; width: 27px; height: 41px; margin: -1px 5px 0 0; float:left; }
.header-but:hover { background:url(../images/button_approvedbl_blk.png) no-repeat left top; text-decoration:none}


.header-but1 { font-size: 13px; font-weight:bold; color: #fff; text-decoration: none; line-height:14px; height:41px; width:110px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background:url(../images/button_approvedbl.png) no-repeat left top; padding-left:5px; text-wrap:suppress; display:inline-block; text-align:center; padding-top:5px; margin-left:-3px; }
.header-but1 span { display: inline-block; background: url(../images/white_tick_mark.png) no-repeat left top; width: 27px; height: 41px; margin: -1px 5px 0 0; float:left; }
.header-but1:hover { background:url(../images/button_approvedbl_blk.png) no-repeat left top; text-decoration:none}




.top-links { float: right; padding: 16px 9px 0 0; }
.top-links li { float: right; padding: 0 21px 0 0px; }
.top-links li a { color: #373737; font-weight: bold; display: inline-block; font-size: 11px; line-height: 16px; text-decoration: none; padding: 0 0 0 20px; }
.top-links li.first a { background: url(../images/login.jpg) left 0px no-repeat; }
.top-links li.second a { background: url(../images/facebook.jpg) left 1px no-repeat; }
.top-links li.third a { background: url(../images/twitter.png) left 1px no-repeat; }
.top-links li a:hover { color: #ef0909; }
/****************************menu*********************************************/
.menu { padding: 0px 0px 0 0; width: 938px; background: url(../images/menu-bg.jpg) repeat-x #e3e3e5; border: 1px solid #bebebe; float: left; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0px 3px 5px #dad9d9; -moz-box-shadow: 0px 3px 5px #dad9d9; -webkit-box-shadow: 0px 3px 5px #dad9d9; }
.menu > li { float: left; position: relative; padding: 0 1px 0 0px; background: url(../images/menu-li.jpg) right top no-repeat; }
.menu > li.last { padding-right: 0; }
.menu > li > a span { display: inline-block; background: url(../images/menu-marker.png) 0 bottom no-repeat; width: 16px; height: 16px; margin-right: 8px; }
.menu > li > a { display: block; font: bold 12px Arial, Helvetica, sans-serif; line-height: 17px; padding: 11px 13px 11px 13px; color: #373737; text-transform: uppercase; margin: 1px; }
.menu > li.first > a { padding: 11px 13px 11px 11px; }
.menu > li.last > a { padding: 11px 8px 11px 13px; }
.menu li.sfHover > a, .menu > li > a:hover, .menu > li > a.current { color: #fff; background: #2d2d2d; }
.menu li.sfHover > a span, .menu > li > a:hover span, .menu > li > a.current span { background-position: 0 0; }
.menu ul { position: absolute; padding: 0px; top: -999em; width: 159px; background: #363636; border: 1px solid #221818; }
.menu ul li { width: 100%; }
.menu li:hover { visibility: inherit; }
.menu li li { padding: 0px 0 0px 0; background: none; border-bottom: 1px solid #221818; }
.menu li li.last { border-bottom: 0; }
.menu li li.last a { padding: 1px 0 4px 19px; }
.menu li li a { display: block; font-family: Arial, Helvetica, sans-serif; padding: 2px 0 2px 19px; font-size: 12px; line-height: 19px; color: #aaaaaa; background: url(../images/sub-menu-bg.jpg) 0 -1000px repeat-x; }
.menu li li a:hover, .menu li li.sfHover > a { color: #FFFFFF; background: url(../images/sub-menu-bg.jpg) 0 0px repeat-x }
.menu li:hover ul, .menu li.sfHover ul { left: -1px; top: 41px; z-index: 999; }
ul.menu li:hover li ul, ul.menu li.sfHover li ul { top: -999em; }
ul.menu li li:hover ul, ul.menu li li.sfHover ul { left: 159px; top: -1px; z-index: 9999; }
ul.menu li li:hover li ul, ul.menu li li.sfHover li ul { top: -999em; }
/*************************end menu********************************************/
.slider { width: 700px; height: 350px; position: relative; overflow: hidden; }
.menu-indent { margin-bottom: 30px; }
.banner { width: 100%; background: url(../images/banner-tail.png) repeat-x center top #242424; margin-bottom: 1px; }
.banner-padding { padding: 15px 13px 15px 21px; }
.text-3 { font-size: 21px; line-height: 30px; color: #fff; display: block; }
.text-3 span { color: #f22f2f; margin-left: 8px; }
.button-6 { font-size: 12px; font-weight: bold; line-height: 21px; background: url(../images/button-tail.gif) repeat-x center top #9f0202; color: #fff; border: 1px solid #221818; padding: 3px 13px 4px 16px; text-decoration: none; display: inline-block; margin-left: 10px; }
.button-6:hover { background: #DA3736; }
.list-img { background: url(../images/list-img-tail.gif) repeat-x center top #e3e3e4; border: 1px solid #bebebe; overflow: hidden; padding: 4px 0 4px 4px; border-radius: 0px 0px 3px 3px; -moz-border-radius: 0px 0px 3px 3px; -webkit-border-radius: 0px 0px 3px 3px; }
.list-img li { float: left; padding: 5px 5px 5px 6px; }
.list-img li a { display: inline-block; background: none; position: relative; }
.list-img li a:hover { background: #333333; }
.list-img li a span { position: absolute; left: 0; top: 0; background: url(../images/mask.png) no-repeat; width: 127px; height: 84px; display: none; }
.list-img li a:hover span { display: block; }
/*********************************content*************************************/
#content { width: 100%; padding: 0; position: relative; z-index: 1; }
.box-1 { background: #363636; border: 1px solid #242424; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.box-1-container { padding: 16px 20px 22px 19px; }
.box-2 { background: #fcfcfc; border: 1px solid #bebebe; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.box-2-container { padding: 18px 20px 22px 19px; }
.box-3-container { padding: 28px 29px 29px 29px; }
.box-4-container { padding: 29px 10px 26px 30px; }
.box-indent { margin-bottom: 19px; }
h3 { font-size: 14px; line-height: 1.2em; color: #fcfcfc; font-weight: normal; line-height: 18px; text-transform: uppercase; padding: 10px 0 12px 13px; }
h3.dark { color: #fcfcfc; background: url(../images/h3-dark.gif) repeat-x #2b2b2b; border-bottom: 1px solid #242424; }
h3.light { color: #313131; background: url(../images/h3-light.gif) repeat-x #f6f6f6; border-bottom: 1px solid #bebebe; border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; padding: 11px 0 10px 13px; }
h3.light1 { color: #313131; background: url(../images/h3-light1.jpg) repeat-x #e3e3e3; border-bottom: 1px solid #bebebe; border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; padding: 13px 0 12px 22px; font-weight: bold; font-size: 12px; line-height: 15px; }
h4 { font-size: 19px; line-height: 24px; color: #363636; text-transform: uppercase; padding: 6px 0 0 0; }
.button { display: inline-block; padding: 0 10px; color: #000; background: url(../images/button-tail.gif) 0 0 repeat-x; }
.button:hover { color: #fff; }
.list-1 li { line-height: 19px; background: url(../images/line-1.gif) left bottom repeat-x; padding-bottom: 9px; margin-bottom: 6px; }
.list-1 li.sec { padding-bottom: 7px; }
.list-1 li.last { padding-bottom: 8px; margin-bottom: 0; }
.list-1 li span { display: block; color: #888787; margin-bottom: 2px; }
.list-1 li a { color: #fff; text-decoration: underline; }
.list-1 li a:hover { text-decoration: none; }
.list-1-1 li { line-height: 19px; background: url(../images/line-2.gif) left bottom repeat-x; padding-bottom: 9px; margin-bottom: 6px; }
.list-1-1 li.sec { padding-bottom: 7px; }
.list-1-1 li.last { padding-bottom: 8px; margin-bottom: 0; }
.list-1-1 li span { display: block; color: #888787; margin-bottom: 1px; }
.list-1-1 li a { color: #e82b2b; text-decoration: underline; }
.list-1-1 li a:hover { text-decoration: none; }
.list-2 li { font-size: 12px; line-height: 18px; padding: 0 0 12px 0; background: url(../images/line-1.gif) left bottom repeat-x; margin-bottom: 6px; }
.list-2 li.last { margin: 0; padding: 0; background: none; }
.marker { float: left; background: #fcfcfc; width: 35px; height: 27px; text-align: center; font-size: 16px; font-weight: bold; color: #353535; padding: 8px 0 0 0; margin: 5px 15px 0 0; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%; line-height: 19px; }
.list-2 li a { display: inline-block; color: #d50707; text-transform: uppercase; line-height: 17px; }
.list-2 li a:hover { color: #fff; }
.list-2 .last-item { background: none; }
.list-3 li { line-height: 16px; font-size: 11px; padding: 1px 0 0px 13px; background: url(../images/marker-2.png) 1px 7px no-repeat; font-weight: bold; }
.list-3 li a { display: inline-block; color: #e82b2b; }
.list-4 li { line-height: 19px; padding-bottom: 6px; }
.list-4 li a { display: inline-block; color: #888787; text-decoration: none; }
.list-4 li a span { display: inline-block; background: url(../images/marker-2.png) no-repeat; width: 8px; height: 5px; margin: 8px 4px 0 0; }
.list-4 li a:hover { text-decoration: underline; }
.link:hover { text-decoration: underline; }
.link-1 { display: inline-block; font-size: 11px; font-weight: bold; }
.link-1:hover { text-decoration: none; }
.link-2 { text-decoration: none; font-size: 12px; font-weight: bold; color: #000; display: inline-block; line-height: 17px; }
.link-2:hover { color: #e82b2b; text-decoration: underline; }
/*******************************************************************************************index-1.html*************************************************************************/
.row-indent { margin-bottom: 18px; }
#page2 .box-1-container { padding-bottom: 20px; }
#page2 .box-2-container { padding-bottom: 33px; }
.small-col { width: 80px; float: left; }
.small-col-indent { margin-right: 17px; }
.col-1 { width: 306px; }
.col-1-indent { margin-right: 28px; }
.heading { border: 1px solid #bebebe; padding: 10px 19px 12px 23px; margin-bottom: 15px; }
.mt-5 { margin-top: -4px; }
/*********************************************************************************slider**********************************************************************************/
.items { display: none; }
#page2 .slider { width: 645px; height: 279px; margin-bottom: 19px; position: relative; }
#page2 .img-pags { margin-left: 28px; }
#page2 .img-pags li a { position: relative; margin: 0px 6px 0 6px; display: block; }
#page2 .but { display: block; text-indent: -5000px; width: 22px; height: 22px; position: absolute; }
#page2 .pag { position: relative; width: 384px; margin-bottom: 26px; overflow: hidden; }
#page2 .button1 { background: url(../images/prev.gif) 0 0 no-repeat; left: 0; top: 26px; }
#page2 .button2 { background: url(../images/next.gif) 0 0 no-repeat; right: 0; top: 26px; }
#page2 .but:hover { background-position: 0 bottom; }
#page2 .banner { width: 261px; height: 279px; position: absolute; background: #fcfcfc; left: 384px; top: 0; }
#page2 .banner-padd { padding-left: 19px; }
#page2 .banner-padd span { float: left; width: 140px; margin-right: 9px; }
#page2 .banner-padd strong, #page2 .banner-padd .spec span strong { color: #353535; }
#page2 .banner-padd span strong { color: #e82b2b; }
#page2 .banner-padd .spec { font-size: 13px; }
/****************************************************************************************end****************************************************************************/
.col-2 { width: 150px; }
.col-3 { width: 135px; float: left; }
.spacer-1 { margin-right: 2px; }
.spacer-2 { margin-right: 34px; }
.spacer-3 { margin-right: 25px; }
.width-1 { width: 200px; float: left; }
.width-1-ind { margin-right: 30px; }
/*****************************************************************************************end index-1.html***********************************************************************/
#page3 .box-2-container { padding: 23px 210px 26px 30px; line-height: 18px; }
/****************************footer************************/
footer { width: 100%; padding: 20px 0 15px; }
.footer-menu { width: 938px; background: url(../images/footer-menu.jpg) repeat-x #e3e3e5; border: 1px solid #bebebe; padding: 11px 0 12px 0; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0px 3px 5px #cdcbcb; -moz-box-shadow: 0px 3px 5px #cdcbcb; -webkit-box-shadow: 0px 3px 5px #cdcbcb; margin-bottom: 10px; }
.footer-list { float: left; padding-left: 16px; }
.footer-list li { float: left; padding-right: 18px; }
.footer-list li a { font-size: 11px; font-weight: bold; color: #373737; display: inline-block; text-decoration: none; text-transform: uppercase; }
.footer-list li a:hover { color: #E82B2B; }
.footer-link-box { float: right; padding-right: 13px; }
.footer-link { font-size: 11px; color: #5f5f5f; }
.footer-link a { color: #5f5f5f; }
/************************************************************************tabs-1*******************************************************************************************/
/***** tabs style *****/
ul.tabs { margin: 1px 0 0px 0px; padding: 0; list-style: none; width: 100%; height: 40px; }
ul.tabs li { float: left; margin: 0; padding: 0; overflow: hidden; }
ul.tabs li.firs a { border-radius: 3px 0 0 0; -moz-border-radius: 3px 0 0; -webkit-border-radius: 3px 0 0; }
ul.tabs li.last a { border-radius: 0 3px 0 0; -moz-border-radius: 0 3px 0 0; -webkit-border-radius: 0 3px 0 0; }
ul.tabs li.last { background: none; }
ul.tabs li { padding-right: 0px; }
ul.tabs li a { font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-decoration: none; color: #fcfcfc; text-transform: uppercase; display: block; line-height: 36px; padding: 0px 0 1px 0; text-align: center; outline: none; background: url(../images/li-noactive.jpg) repeat-x #2b2b2b; border: 1px solid #242424; width: 107px; }
ul.tabs li.last a { margin: 0 0 1px 1px; }
ul.tabs li.firs a { margin: 0 1px 1px 0px; }
ul.tabs li.active.last a { margin: 0 0 0px 0px; padding-left: 1px; width: 107px; }
ul.tabs li.active.firs a { margin: 0 0px 0px 0px; }
ul.tabs li.active a { font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-decoration: none; color: #fcfcfc; text-transform: uppercase; display: block; line-height: 36px; padding: 0px 0 2px 0; text-align: center; outline: none; background: url(../images/tabs-li-tail.gif) repeat-x center top #cf0505; border: 1px solid #880707; width: 108px; margin-left: 0; margin-bottom: 0; }
ul.tabs li.active a { border-bottom: none; padding-bottom: 3px; }
.tab_container { padding: 0; width: 218px; border-radius: 0 0px 3px 3px; -moz-border-radius: 0 0px 3px 3px; -webkit-border-radius: 0 0px 3px 3px; background: url(../images/tab-bg.jpg) repeat-x center top #9b0101; border: 1px solid #880707; border-top: none; height: 411px; position: relative; }
.tab-container-padding { padding: 14px 15px 18px 19px; }
/*****************************************************************end***************************************************************************/
/*******************************************************************tabs-1**********************************************************************/
ul.tabs-1 { margin: 0; padding: 8px 0 0 3px; float: left; list-style: none; height: 32px; /*--Set height of tabs--*/ border: 1px solid #bebebe; width: 695px; float: left; background: url(../images/tabs-1.gif) repeat-x #e3e3e3; border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; }
ul.tabs-1 li { float: left; margin: 0 2px 0 0; padding: 0; height: 31px; /*--Subtract 1px from the height of the unordered list--*/ line-height: 31px; /*--Vertically aligns the text within the tab--*/ border: 1px solid #bebebe; border-bottom: none; margin-bottom: -1px; /*--Pull the list item down 1px--*/ overflow: hidden; position: relative; background: #e0e0e0; }
ul.tabs-1 li a { text-decoration: none; color: #353535; display: block; padding: 0 10px 0 12px; outline: none; font-weight: bold; text-transform: uppercase; background: url(../images/tabs-a.gif) repeat-x #e9e9e9; font-size: 11.5px; font-family:Arial, Helvetica, sans-serif !important }
ul.tabs-1 li a span { color: #d50707; }
ul.tabs-1 li a:hover { background: #fcfcfc; }
html ul.tabs-1 li.active, html ul.tabs-1 li.active a:hover { /*--Makes sure that the active tab does not listen to the hover properties--*/ background: #fcfcfc; border-bottom: 1px solid #fcfcfc; /*--Makes the active tab look like it's connected with its content--*/ }
html ul.tabs-1 li.active a, html ul.tabs-1 li.active a:hover { background: #fcfcfc; }
.tab_container-1 { background: #fcfcfc; width: 698px; height: 595px; position: relative; overflow:hidden; border: 1px solid #bebebe; border-top: none; border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px; }
.tabs-1-padd { padding: 29px 30px 10px 30px; }
.tab-col { float: left; width: 137px; background: #fcfcfc; }
.tab-col-indent { margin-right: 3.9%; margin-bottom:15px;}
.p2 img{ width:137px;height:91px; } /* ADDED BY LEO 2-21-13 */
.tab-col-indent1 {margin-right: 1%; }
.tab-col-indent:nth-child(4n+4){ /* ADDED BY LEO */
margin-right: 0;
}
/*.viewall{ text-align:right !important; font-size:12px; float:right; padding-right:23px; padding-bottom:15px !important;   }
*//*********************************************************************end************************************************************************/
/****************************************************************************transform**********************************************************************************/

form.jqtransformdone label { margin-top: 4px; margin-right: 8px; display: block; float: left; }
form.jqtransformdone div.rowElem { clear: both; padding: 0; min-height: 54px; }
/* -------------

/*hover*/
.jqTransformInputWrapper_hover { background-position: left -31px; }
.jqTransformInputWrapper_hover div.jqTransformInputInner { background-position: right -31px; }
/*focus*/
.jqTransformInputWrapper_focus { background-position: left -62px; }
.jqTransformInputWrapper_focus div.jqTransformInputInner { background-position: right -62px; }
.jqTransformSafari .jqTransformInputInner div { position: relative; overflow: hidden; margin: 0px 8px; }
.jqTransformSafari .jqTransformInputInner div input { position: absolute; top: -10px; left: -2px; height: 42px; padding-left: 4px; }
/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper { width: 177px !important; position: relative; height: 26px; float: left; border: 1px solid #880707; background: url(../images/select-bg.jpg) no-repeat; }
.select2 .jqTransformSelectWrapper { width: 82px !important; }
.red .jqTransformSelectWrapper { border: 1px solid #a61615; }
.jqTransformSelectWrapper div span { font-family: Arial, Helvetica, sans-serif; font-size: 12px; float: none; position: absolute; white-space: nowrap; height: 21px; line-height: 17px; padding: 4px 0 0 7px; overflow: hidden; cursor: pointer; color: #999999; }
.jqTransformSelectWrapper a.jqTransformSelectOpen { display: block; position: absolute; right: 1px; top: 1px; width: 24px; height: 24px; background: url(../images/select_right.png) no-repeat 0px 0px; }
.jqTransformSelectWrapper ul { position: absolute; width: 175px !important; top: 26px; left: 0px; list-style: none; background-color: #FFF; border: solid 1px #E4E4E4; display: none; margin: 0px; padding: 0px; min-height: 56px !important; overflow: auto; overflow-y: auto; z-index: 10; border-top: none; }
.select2 .jqTransformSelectWrapper ul { width: 80px !important; }
.jqTransformSelectWrapper ul a { display: block; padding: 5px; text-decoration: none; color: #333; background-color: #FFF; font-size: 11px; color: #999999; }
.jqTransformSelectWrapper ul a.selected { background: #EDEDED; color: #333; }
.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover { background: #ccc; color: #000; }
.name-input, .name-input1 { display: block; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 21px; font-weight: bold; color: #fff; padding: 0px 0px 2px 0; }
.mini-blok, .mini-blok1 { width: 85px; float: left; }
.mini-blok1 { margin-left: 10px; width: 83px; }
.button-form { font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; line-height: 2em; color: #363636; display: inline-block; text-decoration: none; text-transform: uppercase; background: url(../images/button-form-bg.gif) repeat-x center top #e2e2e2; border: 1px solid #730606; padding: 4px 14px 4px 9px;cursor:pointer;}
.box-form-button { padding: 17px 0 0 0; width: 100%; overflow: hidden; }
.box-form-button .link-form1 { font-size: 11px; color: #fff; line-height: 21px; display: inline-block; margin: 6px 0 0 6px; font-weight: bold; }
.red .button-form { border: 1px solid #a61615; }
.box-form-button .button-form:hover { background: #E2E2E2; }
/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden { display: none; }
.carousel, .carousel div { width: 700px; height: 287px; overflow: hidden; }










/*------------------- Listing Page -------------------------*/
.result50{ float:left; font-size:14px;}
.l_pagination { float: right; width: 250px; font-size: 14px; text-align: right; display: block; padding-right:22px; }
.l_pagination a { padding: 0px 2px; text-decoration: none; color: #888787 }
.l_pagination a:hover, .l_pagination a.page_active { color: #1f4dbd }
.listing_page { background-color: #fff; padding: 10px 22px; }
#box { width: 280px; height: 36px; float: right; }
#box li { margin: 3px; padding: 0px; float: left; left: -95px; top: 107px; position: relative; width: 46px; height: 35px; display: inline; }
#box li img { width: 46px; height: 35px; cursor: pointer; position: absolute; left: 0; top: 0; display: inline; }
#box2 { position: relative; float: left; left: 0px; top: 0px; width: 194px; text-align: center; padding: 0px; }
#box2 img { width: 194px; cursor: pointer; border: none; }
#box img:hover { border: none; margin-top: 0px; margin-left: 0px; margin-right: 0; margin-bottom: 0px; }
#bigbox { overflow: hidden; }

.feature_listing_box{ width:100%; }
.feature_listing_box .desc{ width:230px; position:absolute; z-index:0; margin-left:205px; }
.desc .fl_car_name{ font-size:20px; text-align:left; color:#214dee; font-weight:bold; padding-bottom:5px; padding-top:5px;}
.desc .fl_car_price{ font-size:16px; text-align:left; color:#cd043b; font-weight:bold; padding-bottom:5px;}
.desc .fl_car_location{ font-size:12px; text-align:left; color:#653237; font-weight:bold; padding-bottom:5px;}
.desc .fl_car_desc{ font-size:11px; text-align:left; color:#653237; padding-bottom:5px; line-height:14px;}
.fl_right{ position:absolute; margin-left:460px; width:110px;}
.fl_right .fl_title_right{ font-size:11px; text-align:right; font-weight:bold; color:#909090 !important; padding-bottom:5px; line-height:14px;; text-transform:uppercase; padding-bottom:50px; padding-top:5px}
.fl_right .promo_label{ text-align:right}
.listing_hrline{ border-bottom:1px solid #d5d5d5; padding:5px 0px;}

.listing_bx{ width:100%; border-bottom:1px solid #d5d5d5; padding:9px 0px 9px 0px; }
.listing_bx .listing_img_box{ float:left; width:118px; height:95px; overflow:hidden}
.listing_bx .listing_img_box img{ width:118px; height:94px; }
.listing_bx .listing_desc_box{ float:left; margin-left:12px; width:300px; } 
.listing_desc_box .listed_price{ font-size:14px; text-align:left; color:#cd043b; font-weight:bold; padding-bottom:3px; }
.listing_desc_box .listed_car_name{ font-size:16px; text-align:left; color:#214dee; font-weight:bold; padding-bottom:3px;}
.listing_desc_box .listed_location{ font-size:12px; text-align:left; color:#653237; font-weight:bold; padding-bottom:3px; }
.listing_desc_box .listed_desc{ font-size:11px; text-align:left; color:#653237; line-height:14px; }
.listing_bx .listing_promolabel_box{ float:right; width:96px; height:78px; overflow:hidden; padding-top:12px; padding-right:6px; text-align:right }
.listing_btm_pagination{ width: 100%; font-size: 12px; text-align:center; display: block; padding-top:7px}
.listing_btm_pagination a{ padding: 0px 2px; text-decoration: none; color: #888787 }
.listing_btm_pagination a:hover{ color: #1f4dbd}

.listing_ad_right{ margin-bottom:30px;}

/*---------------- Listing Details Page ------------------------------- */

.listing_details { background-color: #fff; padding:0px 25px; border:1px solid #bebebe; border-radius:5px; min-height:650px;  }
.listing_details .bk_listing{ float:right; text-align:right; padding-top:12px;}

.fv_LD_gaddiName{ font-size:21px; color:#464646; text-align:left; padding-bottom:7px; margin-top:-12px; }
#gallery { padding: 0px; position:relative; z-index:1  }

.fv_LD_gal_right{  width:360px; position:absolute; z-index:999999999; margin-left:230px; margin-top:-265px; border-bottom:1px solid #cdcdcd}

.fv_LD_gal_price{  font-size:19px; color:#ba2c18; text-align:left; padding-bottom:12px; font-weight:bold }
.fv_LD_gal_price span{ font-size:14px; font-weight:normal; vertical-align:baseline}
.fv_LD_gal_distance{ font-size:14px; color:#808080; text-align:left; padding-bottom:0px;}
.fv_LD_gal_location{  font-size:14px; color:#808080; text-align:left; padding-bottom:18px;}
.fv_LD_gal_call{  font-size:17px; color:#91908e; text-align:left; padding-bottom:28px;}
.fv_LD_gal_call span{ color:#ba2c18; font-size:18px;}
.fv_LD_gal_s_icon img{ margin-right:7px; margin-bottom:5px;}
.fv_LD_gal_date{  font-size:12px; color:#808080; padding-bottom:6px;}
.fv_LD_gal_fav{ padding-bottom:20px;}
.fv_LD_gal_gdbd{ text-align:center; margin-bottom:5px;}
.fv_LD_gal_calculate{ font-size:12px; color:#4c7acc; text-align:right; margin-bottom:3px;}
.fv_LD_gal_approved{  font-size:12px; color:#4c7acc; text-align:right}
.fv_LD_gal_btm_text{  font-size:12px;  color:#808080; padding:15px 0 25px; 0px; padding-left:25px; border-bottom:1px solid #cdcdcd; line-height:15px;}

.fv_LD_total_photo{ position:relative; z-index:99999; margin-top:-100px; margin-left:0px; color:#5d78ac; font-size:13px; text-align:left;}
.fv_LD_total_photo span{ padding-right:78px; color:#e60026}
.fv_LD_total_photo a{ margin-right:7px; color:#5d78ac;}

.bk_listing_heading{ font-size:14px; font-weight:bold; text-align:left; color:#272a2f; margin-top:25px; padding-bottom:10px;}
.bk_listing_content{ font-size:12px; text-align:left; color:#808080;}
.bk_listing_content a{ float:right !important; padding-right:10px;}
.bk_listing_seller_bx{ float:left; margin-top:14px; width:148px; }
.bk_listing_seller_title{ float:left; font-size:14px; color:#333333; padding-bottom:12px; font-weight:bold }
.bk_listing_seller{ float:left; width:148px; background-color:#f2f2f2; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; padding:15px;}
.bk_listing_seller .sellername{ font-size:16px; color:#464646; font-weight:bold}
.bk_listing_seller .addrs{ font-size:14px; color:#464646; padding-bottom:10px;}
.bk_listing_seller .seller_contact{ font-size:15px; color:#464646; font-weight:bold; padding-bottom:15px;}
.bk_listing_seller .seller_contact span { font-size:15px; color:#e60026}
.bk_listing_seller .seller_view { font-size:13px; color:#4d8ae6}
.bk_listing_seller .seller_email { font-size:13px; color:#4d8ae6}
.bk_listing_seller .seller_print {font-size:13px; color:#4d8ae6}
.bk_listing_seller  .email_title {font-size:13px; color:#464646; font-weight:bold; padding-top:15px; padding-bottom:5px;}
.bk_listing_seller .email_frm{ background:url(../images/bk_listing_frm1.jpg) no-repeat left top; width:137px; height:22px; border:0px; color:#878787; font-size:11px; padding-left:5px; margin-bottom:10px;}
.bk_listing_seller .email_frm1{ background:url(../images/bk_listing_frm2.jpg) no-repeat left top; width:137px; height:146px; border:0px; color:#878787; font-size:12px; padding-left:5px; margin-bottom:10px; font-family:Arial, Helvetica, sans-serif; padding-top:5px;}




.fv_LD_specification{ float:right; width:370px; text-align:left; font-size:14px; /*overflow:hidden;*/ margin-top:14px; }
.fv_LD_specification h2{ font-size:14px; color:#333333; padding-bottom:12px;}
.fv_LD_specification .fv_LD_wRow{ background-color:#FFF; font-size:13px; text-align:left; height:24px; line-height:24px; color:#464646}
.fv_LD_specification .fv_LD_gRow{ background-color:#f1f1f1; font-size:13px; text-align:left; height:24px; line-height:24px; color:#464646}
.fv_LD_specification .leftDiv{ float:left; width:180px; margin-left:15px; text-align:left}
.fv_LD_specification .rightDiv{ float:left; width:170px; text-align:left }
.fv_LD_specification .carfax{ float:right; background:#FFF; line-height:21px; height:21px; font-size:11px; color:#598deb; margin-right:10px; margin-top:2px;}
.fv_LD_specification .not_specified{ font-size:11px; font-style:italic;}
.fv_LD_specification .morespec{ float:right; font-size:12px; padding-top:7px; padding-bottom:2px;}
.fv_LD_specification .morespec a{ color:#5ebcde; text-decoration:none; }

.fv_LD_specification .map_title{ font-size:15px; text-align:left; font-weight:bold; color:#000}
.bk_listing_gcpc{ float:right; background:url(../images/gcpc_img.jpg) no-repeat right top; width:146px; height:71px; margin-top:10px;}
.bk_listing_gcpc .ggr{ width:117px; height:14px; display:block; margin-top:13px; margin-left:27px;}
.bk_listing_gcpc .ggr a{ width:117px; height:14px; display:block; position:relative; z-index:99999999999 }
.bk_listing_gcpc .ya{ width:117px; height:14px; display:block; margin-top:30px; margin-left:27px;}
.bk_listing_gcpc .ya a{ width:117px; height:14px; display:block;  position:relative; z-index:99999999999  }


/*-------------------- Profile -----------------------*/

.profile_page { background-color: #fff; border:1px solid #bdbdbf; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.pro_back_listing{ float:right; margin-bottom:10px; margin-right:1px; margin-top:1px;}
.profile_page .inner_padding{ padding:0px 18px 18px 18px;}
.inner_padding .pro_hr_top_ads{ margin-bottom:20px; }
.inner_padding h3{ font-size:16px; text-align:left; font-weight:bold; color:#000; padding:0px 0px 20px 0px; margin:0px;}
.inner_padding p{ font-size:14px; padding-bottom:18px; margin:0px; }
.inner_padding p a{ float:right; color:#65a5c1 !important; padding-right:10px;}
.inner_padding .fcc{ color:#000; font-size:13px; font-weight:bold}
.inner_padding .fcc span{ color:#c8153f}
.inner_padding .g_text{ font-size:13px; font-weight:bold; color:#707070}
.inner_padding .g_text span{ font-weight:normal; color:#8f8f8f }
.inner_padding .g_text a{ color:#65a5c1 !important; font-weight:normal}
.inner_padding .g_map{ float:right; margin:5px 60px 0px 0px;width:262px;height:135px; }
.inner_padding .inventory_title{ font-size:13px; font-weight:bold; color:#000; text-align:left; padding:20px 0;}
.inner_padding .inventory_box{ float:left; width:100px; margin-right:20px;}
.inner_padding .inventory_box_last{float:left; width:100px; margin-right:0px;}
.inner_padding .btm_result{ float:left; font-size:14px; color:#7d7d7d; padding:25px 0 0 0; text-align:left}
.inner_padding .btm_pagination{ float:left; font-size:14px; color:#7d7d7d; padding:25px 0 0 0; text-align:left; width:170px; padding-left:150px;}
.inner_padding .btm_pagination a{ color:#7d7d7d;}
.inner_padding .btm_pagination a:hover,.btm_pagination a.btm_pg_active{ color:#24428a}



/*-------------------- news ticker ---------------------*/
.simply-scroll-list { 
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}
	
.simply-scroll-list li {
	padding: 0;
	margin: 0;
	list-style: none;
}
	
.simply-scroll-list li img {
	border: none;
	display: block;
}



.tab_search_top{ font-size:12px; text-align:left; color:#000; float:left;}
.tab_search_top span{ font-size:14px; color:#e8101d }
.tab_search_top input[type="checkbox"]{ float:left; margin-right:5px;}
.tab_search_top div{ float:left; margin-right:5px}

.tabs-1-padd .left_sec{ float:left; width:142px; font-size:12px; text-align:left; margin-top:28px;}
.tabs-1-padd .left_sec .title{ font-size:13px; color: #3d3c41; margin:0px; padding:0px; padding-bottom:15px; float:left;} 
.tabs-1-padd .left_sec .mm_frm{ float:right; width:115px; height:22px; border:1px solid #a9a9a9; margin-bottom:15px; color:#3d3c41; font-size:12px;}
.tabs-1-padd .left_sec .yp_frm{ float:right; width:83px; height:22px; border:1px solid #a9a9a9; margin-bottom:15px; color:#3d3c41; font-size:12px;}
.tabs-1-padd .left_sec .newer{ float:right; width:83px; font-size:11px; color:#3d3c41; margin-top:-13px;}
.tabs-1-padd .left_sec .to{ text-align:left; padding-left:50px; font-size:12px; margin-top:-10px !important; padding-bottom:5px; float:left}

.tabs-1-padd .right_sec{ float:right; width:470px; font-size:12px; text-align:left; margin-top:28px; height:250px;}
.tabs-1-padd .right_sec .title{ font-size:13px; color: #3d3c41; margin:0px; padding:0px; padding-bottom:15px; float:left;} 
.tabs-1-padd .right_sec .title2{ font-size:13px; color: #3d3c41; margin:0px; padding:0px; padding-bottom:5px; float:left;} 


.tabs-1-padd .right_sec .v_type_bx{ float:right; width:105px; margin-left:16px; height:60px; margin-bottom:15px;}
.tabs-1-padd .right_sec .v_type_bx .chkbx{ float:left; height:43px; padding:17px 6px 0 0;}
.tabs-1-padd .right_sec .v_type_image{ float:left; height:44px; width:77px; overflow:hidden;}
.tabs-1-padd .right_sec .v_type_image img{ width:77px; height:44px; }
.tabs-1-padd .right_sec .v_type_g_name{ float:left; line-height:16px; font-size:12px; text-align:center !important; color:#3d3c41; width:77px;}
.tabs-1-padd .right_sec .no_l_m{ margin-left:0px; }
.tabs-1-padd .right_sec .left_bx{ float:left; width:108px; margin-bottom:12px;}	
.tabs-1-padd .right_sec .center_bx{ float:left; width:112px; margin-bottom:12px;}	
.tabs-1-padd .right_sec .right_bx{ float:left; width:128px; margin-bottom:12px;}	
.tabs-1-padd .right_sec .bottom_search{ float:right;}
.tabs-1-padd .right_sec .bottom_search div{ margin-right:7px; padding-top:7px; }


.pop_zip_box{ width:407px !important; height:207px !important; background:url(../images/pop_zip_bg.png) no-repeat center top}
.pop_zip_box .inner_bx_pop{ width:365px; height:170px; margin-left:auto; margin-right:auto; padding-top:18px;}
.pop_zip_box .inner_bx_pop .zip_pop_title{ text-align:left; font-size:16px; color: #666; padding-bottom:20px; }
.pop_zip_box .inner_bx_pop .zip_pop_location{ text-align:left; padding-bottom:20px;}

.pop_zip_box .inner_bx_pop .zip_pop_location label{ font-size:13px; color:#666; float:left; margin-right:7px; }
.pop_zip_box .inner_bx_pop .zip_pop_location input[type="text"]{ float:left; width:141px; height:20px; border:1px solid #a7a6aa; margin-right:7px;}
.pop_zip_box .inner_bx_pop .zip_pop_location .pop_zip_btn{ float:left;}
.pop_zip_box .inner_bx_pop .zip_pop_content{ text-align:left; font-size:12px; color:#a7a6aa; padding-bottom:20px; line-height:16px;}
.pop_zip_box .inner_bx_pop .zip_pop_policy{ float:right; font-size:12px; text-align:right}
.pop_zip_box .inner_bx_pop .zip_pop_policy a{ color:#068acd; text-decoration:none}
.pop_zip_box .inner_bx_pop .zip_pop_policy a:hover{ color:#a7a6aa; text-decoration:underline}